table {
    margin: 0 auto; 
    border-collapse: collapse; 
    width: 50%;
}

table, th, td {
    border: 2px solid gray;
}
th {
    height: 50px; 
    text-align: left; 
    background-color: rgb(140, 161, 147); 
    color: white; 
    text-transform: uppercase; 
    font-family: sans-serif; 
    font-size: 14px;
}
th, td {
    padding: 15px; 
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgb(165, 190, 171);
}

a, li {
    color: rgb(26, 40, 26); 
    font-weight: bold;
}

.code {
    font-family: Courier, Monaco, monospace; 
    font-size: 13px;
}

html, body {
    width: 100%; 
    text-align: center; 
    background-color: rgb(243, 255, 240);
}

nav {
    text-align: left !important
}

h1, h2, ul {
    color: rgb(65, 81, 18); 
    font-family: sans-serif;}